# Composer
composer.phar
/vendor/

# NetBeans Project
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Uploads
uploads/*
!uploads/index.html

# Smarty Compiled
/views_compiled/
!/views_compiled/index.html

# Database Dump
/db-dump/
!/db-dump/db.sql

# Other exclude
Resources/
bs-design-view/
piluku_theme/
adminer-4.2.5.php
adminer.css