# Composer
composer.phar
/vendor/

# NetBeans Project
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Uploads
uploads/*
!uploads/index.html

# Smarty Compiled
applications/admin/views_compiled/
applications/user/views_compiled/
!/applications/admin/views_compiled/index.html
!/applications/user/views_compiled/index.html

# CodeIgniter Log
applications/admin/logs/
applications/user/logs/

# Database Dump
/db-dump/
!/db-dump/db.sql

# Other exclude
Resources/
bs-design-view/
piluku_theme/
adminer-4.2.5.php
adminer.css